body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}
h1{
  color: #66BFBF;
  font-family: 'The Nautigal', cursive;
  font-size: 9.375rem;
  /* line-height: 2; */
  margin: 20px auto 0 auto;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
p{
  line-height: 2;
}
span{
  text-decoration: underline;
}
hr{
  width: 5%;
  background-color: none;
  border: 0;
  border-top: dotted 10px #B2B1B9;
  margin: 100px auto;
}
.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position:absolute;
  bottom: 600px;
  left: 200px;
}
.mountain{
  width: 1000px;
}
.middle-container{
  margin: 100px 0;
}
.profile-icon{
  width: 25%;
}
.profile-des{
  margin: auto;
  width: 40%;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}
.coding-img{
  margin-right: 30px;
  float: left;
  width: 25%;
}
.painting-img{
  margin-left: 30px;
  float: right;
  width: 25%;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:Montserrat;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: -moz-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: -ms-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: -o-linear-gradient(top, #30e3cb, #30e3cb);
  background-image: linear-gradient(to bottom, #30e3cb, #30e3cb);
  text-decoration: none;
}
.contact-me-des{
  margin: 40px auto 60px auto;
  width: 40%;
}
.bottom-container{
  position: relative;
  padding: 20px 0 50px;
  background: #66BFBF;
}
.footer-link{
  color: #18978F;
  font-family: Montserrat, sans-serif;
  margin: 20px 30px 50px;
  line-height: 2;
  text-decoration: none;
}
.footer-link:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
/* .bottom-container-p{
  color: #EAF6F6;
  margin: 0 auto 0 auto;
  position: absolute;
  bottom: 0;
} */
/* .painting-des{
  clear: right;
} */
